version: "3.7"

services:
  db:
    image: postgres:13-alpine
    container_name: whatsapp-api-db
    restart: unless-stopped
    tty: true
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: whatsapp
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      PGDATA: /var/lib/postgresql/data/whatsapp-api
    networks:
      - mynet
    volumes:
      - webapi-mvc:/var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: k8s/dockers/go.dev.Dockerfile
    container_name: whatsapp-api
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - mynet
    ports:
      - 5000:5000

  client:
    build:
      context: .
      dockerfile:  k8s/dockers/react.dev.Dockerfile
    container_name: whatsapp-client
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - /client/node_modules
      - ./client:/client
    ports:
      - 3000:3000
    depends_on:
      - app
    networks:
      - mynet

volumes:
  webapi-mvc:

networks:
  mynet:
    driver: bridge