version: "3.7"

services:
  postgres:
    image: ankane/pgvector
    container_name: whatsapp-api-db
    restart: unless-stopped
    tty: true
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: whatsapp
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      PGDATA: /var/lib/postgresql/data/whatsapp-api-iabots
    networks:
      - mynet
    volumes:
      - webapi-mvc:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  app:
    build:
      context: .
      dockerfile: infra/dockers/go.dev.Dockerfile
    container_name: whatsapp-api
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - mynet
    ports:
      - 5002:5001

volumes:
  webapi-mvc:


networks:
  mynet:
    driver: bridge
