version: "3.7"

services:
  app:
    command: whatsapp-api-pv
    build: .
    environment:
      DATABASE_HOST: 'localhost'
      DATABASE_NAME: 'whatsapp'
      DATABASE_PASSWORD: '123456'
      DATABASE_PORT: '25432'
      DATABASE_USER: 'admin'
    depends_on:
      - db
    ports:
      - "127.0.0.1:5000:5000"
  db:
    image: postgres:13-alpine
    container_name: whatsapp-api-db
    restart: unless-stopped
    tty: true
    ports:
      - "25432:5432"
    environment:
      POSTGRES_DB: whatsapp
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      PGDATA: /var/lib/postgresql/data/whatsapp-api
    volumes:
      - webapi-mvc:/var/lib/postgresql/data
volumes:
  webapi-mvc: